proveidors{
  display: table;
  border-spacing: 15px;
  border:  1px solid;
  margin: 30px;
  font: lighter 16px 'Segoe UI';
}

proveidors:before{
 font: 23px 'Segoe UI';
 content: "Proveïdors:";
 display: table-caption;
}

proveidor{
	display: table-row;
}

codi, nom, adreça, poblacio,cp{
	display: table-cell;
}

codi{
    font: lighter 16px 'Segoe UI';
    color: dodgerblue;
}
